<div class="header-tongquan">
    <span style="font-size: 17px;color: #25549d;font-weight: 600;">Quản lý tổng mức đầu tư</span><br>
    <span style="color:#acacac; font-size: 14px;">Trang chủ > <a>Thêm tổng mức đầu tư</a></span>

</div>
<div style="background-color: white;">
    <div class="body-tongquan">
        <span style="color: #25549d;font-weight: 500;">Thông tin tổng mức đầu tư</span>
        <div class="row" style="padding-top: 30px;">
            <div class="col-lg-6">
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Mã TMDT
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Tên dự án
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Tên tiểu dự án
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Gía trị dự toán TMDT
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Lần điều chỉnh
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Trạng thái
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        QD duyệt DC
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Thời gian QDPQ
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
            </div>
        </div><br>

        <span style="color: #25549d;font-weight: 500;">Chi tiết tổng mức đầu tư</span>
        <div class="row" style="padding-top: 30px;">
            <div class="col-lg-6">
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Xây lắp
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Thiết bị
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Tư vấn
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Quản lý dự án
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Khác
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Dự phòng
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Đền bù GPMB
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 30px;">
                    <div class="col-lg-3" style="font-weight: 500;">
                        Tổng cộng
                    </div>
                    <div class="col-lg-9">
                        <input class="search-text" name="keysearch" type="text" [(ngModel)]="maduan"
                            (ngModelChange)="TextmaDA()" style="width: calc(100% - 80px)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row" style="padding-top: 30px;padding-right: 15px;">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3" style="display: flex;justify-content: space-evenly;">
            <button class="btn" style="background-color: red;color: white;width: 90px;"
                (click)="redirect()">Hủy</button>
            <button class="btn" style="background-color: green;color: white;width: 90px;" (click)="ThemMoi()">Lưu</button>
        </div>
    </div>
</div>