<div class="footer-content">
    <div class="container-fluid h-100">
        <div class="d-none d-sm-block footer-custom">
            <div class="name-quanly">
                <span style="font-weight: 500;font-size: 18px;">BAN QUẢN LÝ DỰ ÁN - BỘ NÔNG NGHIỆP VÀ PHÁT TRIỂN NÔNG THÔN</span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-6">
                        <div>Hotline</div>
                        <div>0964 66 33 99</div>
                    </div>
                    <div class="col-lg-6">
                        <div>Trụ sở</div>
                        <div>CT3, Tầng 1 E4, Vũ Phạm Hàm, Trung Hòa, Cầu Giấy, Hà Nội</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div>Email</div>
                        <div>bnn-ptnn@gmail.com</div>
                    </div>
                    <div class="col-lg-6">
                        <div>Fax</div>
                        <div>+84 (8) 3823 3318</div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <span>Phát triển bởi Đại học Thủy Lợi</span>
            </div>
        </div>
    </div>
</div>