<div class="header-tongquan">
    <span style="font-size: 17px;color: #25549d;font-weight: 600;">Quản lý thực hiện giải ngân</span><br>
    <span style="color:#acacac; font-size: 14px;">Trang chủ > <a>Quản lý thực hiện giải ngân</a></span>
    <div class="row optionselect">
        <div class="col-lg-5">
            <input class="search-text" name="keysearch" type="text" placeholder="Nhập tên dự án, mã dự án..."
                style="width: calc(100% - 120px)">
        </div>
        <div class="col-lg-3">
            <ng-select [items]="listProvine" [(ngModel)]="selectProvince" (ngModelChange)="SelectTinh()"
                bindLabel="text" bindValue="text" placeholder="Tháng">
            </ng-select>
        </div>
        <div class="col-lg-3">
            <ng-select [items]="chudautu" [(ngModel)]="selectChudautu" (ngModelChange)="SelectCDT()" bindLabel="name"
                bindValue="name" placeholder="Năm" style="width: calc(100% - 49px)">
            </ng-select>
        </div>
    </div>
    <div class="button-option">
        <div class="row">
            <div class="col-lg-7"></div>
            <div class="col-lg-4" style="text-align: end;">
                <ul>
                    <li><button class="btn" style="background-color: #25549d;width: 100px;color: white;">Tìm
                            kiếm</button></li>
                    <li><button class="btn" style="background-color: #289b28;width: 100px;color: white;"
                            (click)="ThemGN()">Thêm mới
                        </button></li>
                    <li><button class="btn" style="background-color: red;width: 100px;color: white;">Xuất
                            Excel</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="body-tongquan">
    <!-- <span>hello</span> -->
    <div class="table-price">
        <table>
            <thead>
                <tr class="header_table">
                    <td style="padding-left: 20px;">STT</td>
                    <td style="padding-left: 20px;">Tiểu dự án</td>
                    <td style="padding-left: 20px;">Chủ đầu tư</td>
                    <td style="padding-left: 20px;">Chi tiết giải ngân</td>
                    <td style="padding-left: 20px;">Tháng</td>
                    <td style="padding-left: 20px;">Năm</td>
                    <td style="padding-left: 20px;">Nội dung công việc</td>
                    <td style="padding-left: 20px;">Khó khăn đề nghị</td>
                    <td style="padding-left: 20px;">File</td>
                    <!-- <td style="padding-left: 20px;">Người sửa</td>
                    <td style="padding-left: 20px;">QD duyệt DC</td>
                    <td style="padding-left: 20px;">Thời gian QDPQ</td> -->
                    <td style="padding-left: 20px;">Xóa</td>

                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let item of listVon | paginate: { itemsPerPage: 6, currentPage: p }">
                    <td style="padding-left: 20px;">{{i}}</td>
                    <td style="padding-left: 20px;color: #be5e26;">
                        <div (click)="direct(item)" style="cursor: pointer;">{{item.name}}</div>
                    </td>
                    <td style="padding-left: 20px;">
                        <div>{{item.tenduan}}</div>
                    </td>
                    <td style="padding-left: 20px;">{{item.giaidoan}}</td>
                    <td style="padding-left: 20px">{{item.giatritien}}</td>
                    <td style="padding-left: 20px;">{{item.loaivon}}</td>
                    <td style="padding-left: 20px;">{{item.landieuchinh}}</td>
                    <td style="padding-left: 20px;">{{item.trangthao}}</td>
                    <td style="padding-left: 20px;"><span style="cursor: pointer;"><i
                                class="fa fa-trash"></i></span></td>
                </tr> -->
                <tr>
                    <td style="padding: 20px;">1</td>
                    <td style="padding: 20px;color: #be5e26;">Dự án Hồ Bản Lải</td>
                    <td style="padding: 20px;">1</td>
                    <td style="padding: 20px;" (click)="chitiet">Thủy điện Hòa Bình</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </div><br>
    </div>
</div>
<div class="footer"></div>