<div class="header-tongquan">
        <span style="font-size: 17px;color: #25549d;font-weight: 600;">Thêm vốn</span><br>
        <span style="color:#acacac; font-size: 14px;">Trang chủ > <a>Vốn</a> > <a>Thêm vốn</a></span>
    </div>
    <div class="body-tongquan" style="padding-right: 70px;">
        <div class="table-duan">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Tên vốn
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Tên dự án
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Tiểu dự án
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Giai đoạn
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <!-- <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Gía trị tiền
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Loại vốn
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                                Gía trị tiền
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                          Loại vốn
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Lần điều chỉnh
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                         Trạng thái
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <!-- <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                           Người sửa
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

    </div>
    <div class="footer" style="height: 250px;">
        <div class="row" style="padding-top: 30px;padding-right: 170px;">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3" style="display: flex;justify-content: space-evenly;">
                <button class="btn" style="background-color: red;color: white;width: 90px;"
                    (click)="redirect()">Hủy</button>
                <button class="btn" style="background-color: green;color: white;width: 90px;">Lưu</button>
            </div>
        </div>
    </div>