<div class="header-tongquan">
        <span style="font-size: 17px;color: #25549d;font-weight: 600;">Thêm vốn</span><br>
        <span style="color:#acacac; font-size: 14px;">Trang chủ > <a>Vốn</a> > <a>Thêm vốn</a></span>
    </div>
    <div class="body-tongquan" style="padding-right: 70px;">
        <div class="table-duan">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3" style="font-weight: 500;">
                            Tên vốn
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text" [(ngModel)]="suatenvon" (ngModelChange)="Suatenvon()"  #tenvon="ngModel"
                               style="width: calc(100% - 120px)" required><span style="color: red;">*</span><br>
                               <small class="text text-danger" *ngIf="tenvon.invalid && (tenvon.dirty || tenvon.touched)">Tên vốn bắt buộc phải có!</small>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3" style="font-weight: 500;">
                            Mã vốn
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text" [(ngModel)]="suamavon" (ngModelChange)="Suamavon()" #mavon="ngModel"   
                                style="width: calc(100% - 120px)" required><span style="color: red;">*</span><br>
                                <small class="text text-danger" *ngIf="mavon.invalid && (mavon.dirty || mavon.touched)">Mã vốn bắt buộc phải có!</small>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3" style="font-weight: 500;">
                            Tên dự án
                        </div>
                        <div class="col-lg-9">
                            <ng-select [items]="list_duan" [(ngModel)]="suada" (ngModelChange)="Suada()" #tenda="ngModel"   
                            bindLabel="Value" bindValue="Id" placeholder="Dự án" style="width: calc(100% - 120px)" required>
                        </ng-select><span style="color: red;">*</span>
                        <small class="text text-danger" *ngIf="!suada">Tên dự án bắt buộc phải có!</small>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3" style="font-weight: 500;">
                            Tiểu dự án
                        </div>
                        <div class="col-lg-9">
                            <ng-select [items]="list_tieuduan" [(ngModel)]="suatda" (ngModelChange)="Suatda()"
                            bindLabel="Value" bindValue="Id" placeholder="Tiểu dự án" style="width: calc(100% - 120px)">
                        </ng-select>
                        </div>
                    </div>
                    <!-- <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Giai đoạn vốn
                        </div>
                        <div class="col-lg-9">
                            <ng-select [items]="list_giaidoanvon" [(ngModel)]="suagiaidoan" (ngModelChange)="Suagiaidoan()"
                            bindLabel="Value" bindValue="Id" placeholder="Giai đoạn" style="width: calc(100% - 120px)">
                        </ng-select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Gía trị tiền
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text" [(ngModel)]="suatien" (ngModelChange)="Suatien()"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div> -->
                    <!-- <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Loại vốn
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text" [(ngModel)]="s" (ngModelChange)="Searchda()"
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3" style="font-weight: 500;">
                                Lần điểu chỉnh
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text" [(ngModel)]="suadieuchinh" (ngModelChange)="Suadieuchinh()"
                                 style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <!-- <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                            Người tạo
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text" [(ngModel)]="suanguoitao" (ngModelChange)="Suanguoitao()"  
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3">
                           Ngày tạo 
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text" [(ngModel)]="suangaytao" (ngModelChange)="Suangaytao()"  
                                placeholder="Nhập tên dự án, mã dự án..." style="width: calc(100% - 120px)">
                        </div>
                    </div> -->
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3" style="font-weight: 500;">
                            Giai đoạn vốn
                        </div>
                        <div class="col-lg-9">
                            <ng-select [items]="list_giaidoanvon" [(ngModel)]="suagiaidoan" (ngModelChange)="Suagiaidoan()"
                            bindLabel="Value" bindValue="Id"  style="width: calc(100% - 120px)">
                        </ng-select>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-lg-3" style="font-weight: 500;">
                            Gía trị tiền
                        </div>
                        <div class="col-lg-9">
                            <input class="search-text" name="keysearch" type="text" [(ngModel)]="suatien" (ngModelChange)="Suatien()" #tien="ngModel"  pattern="[0-9]{1,20}"
                                style="width: calc(100% - 120px)" required><span style="color: red;">*</span><br>
                                <small class="text text-danger" *ngIf="tien.invalid && (tien.dirty || tien.touched)">Gía trị tiền không quá 20 ký tự</small>
                        </div>
                    </div>
                
                </div>
            </div>


            <div class="overlay" *ngIf="!check" id="overlay" style="text-align: center;">
                <i class="fa fa-spinner fa-spin spin-big" style="font: 20px;"></i>
                <span style="color: black; font-size: 30px">Loading</span>
            </div>
        </div>


    </div>
    <div class="footer" style="height: 100px;">
        <div class="row" style="padding-top: 30px;padding-right: 170px;">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3" style="display: flex;justify-content: space-evenly;">
                <button class="btn" style="background-color: red;color: white;width: 90px;"
                    (click)="redirect()">Hủy</button>
                <button class="btn" style="background-color: green;color: white;width: 90px;" (click)="Them()" [disabled]="tenvon.invalid" [disabled]="mavon.invalid" [disabled]="tenda.invalid" [disabled]="tien.invalid">Lưu</button>
            </div>
        </div>
    </div>