<div class="header-pricing">
    <h1>Pricing</h1>
    <p>Quickly build an effective pricing table for your potential customers with this<br>
        Bootstrap example. It’s built with default Bootstrap components and utilities<br>
        with little customization.</p>
</div>
<div class="container" style="margin-top: 40px;">
    <div class="row justify-content-md-center">
        <div class="col-md-4" style="text-align: center">
            <div class="wrapper-fee-1 ">
                <h3>Free</h3>
            </div>
            <div class="wrapper-fee">
                <h2>$0/mo</h2>
                <p>10 users included<br>
                    2 GB of storage<br>
                    Email support<br>
                    Help center access</p>
                <div style="margin: 20px;">
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center">
            <div class="wrapper-fee-1 ">
                <h3>Pro</h3>
            </div>
            <div class="wrapper-fee">
                <h2>$15/mo</h2>
                <p>10 users included<br>
                    2 GB of storage<br>
                    Email support<br>
                    Help center access</p>
                <div style="margin: 20px;">
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center">
            <div class="wrapper-fee-1 ">
                <h3>Enterprise</h3>
            </div>
            <div class="wrapper-fee">
                <h2>$29/mo</h2>
                <p>10 users included<br>
                    2 GB of storage<br>
                    Email support<br>
                    Help center access</p>
                <div style="margin: 20px;">
                    <button type="button" class="btn btn-lg btn-block btn-primary">Contact Us</button>
                </div>
            </div>

        </div>
    </div>
    <hr>