.demo-header {
    align-items: center;
    background: #333333;
    display: flex;
    padding: 1em;
    color: white !important;
}

.demo-header__toggle {
    background: #FFF;
    border: 0.15rem solid #333333;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    font-size: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    width: 2rem;
}

.demo-header__toggle:after {
    background: #333333;
    content: '';
    height: 0.15rem;
    left: 0;
    margin-top: -0.075rem;
    position: absolute;
    top: 50%;
    width: 100%;
}

 ::selection {
    background-color: #333333;
    color: #fff;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px dotted #333333;
}

p {
    margin-bottom: 1em;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    border-bottom: 1px dotted #333333;
    display: block;
    margin: 2rem 0 1rem;
    padding-bottom: 0.5rem;
}

h2 {
    margin: 0.5rem 0;
}

.loading {
    padding: 1em;
}

.demo-sidebar.ng-sidebar--opened.ng-sidebar--over {
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

.demo-contents {
    padding: 0 2em;
}

::ng-deep aside {
    background-color: #3C3C3C;
    padding: 2em 1em;
}

a:hover {
    border-bottom: none
}

#sidebar .fa {
    font-size: 30px;
    background-color: #3C3C3C;
    color: white
}

.wrapper ul li i::after {
    float: right;
}

.navSide-icon {
    margin-top: 50px;
    cursor: pointer;
}

.dropbtn {
    background-color: #3C3C3C;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.icon-style {
    font-size: 12px !important
}

.dropdown-icon {
    margin-left: 15px;
    font-size: 15px;
}


/* .fa-chevron-down:before {
    font-size: 18px;
}

.fa-chevron-left:before {
    font-size: 18px;
} */

.sidebar-heading{
    background-color:  #3C3C3C;
}