<div class="header-tongquan">
    <span style="font-size: 17px;color: #25549d;font-weight: 600;">Tổng quan</span><br>
    <span style="color:#acacac; font-size: 14px;">Trang chủ</span>
</div>
<div class="body-tongquan">
    <!-- <span>hello</span> -->
    <div class="row">
        <div class="col-lg-2">
            <!-- <div class="box-body">
                <span class="text-box"><i class="fa fa-suitcase"></i> Dự án</span><br>
                <span>23</span>
            </div> -->
            <div class=" d-flex Banner-wrapper" (click)="DirectDA()" style="cursor: pointer;">
                <span class="text-position"><i class="fa fa-suitcase"></i> Dự án</span>
                <span class="text-number" style="background: #169916">{{countda}}</span>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- <div class="box-body1">
                <span class="text-box"><i class="fa fa-male"></i> Chủ đầu tư</span><br>
                <span>23</span>
            </div> -->
            <div class="d-flex Banner-wrapper" style="background: #1260ff !important;cursor: pointer;"  (click)="DirectCDT()">
                <span class="text-position text-white"><i class="fa fa-male"></i> Chủ đầu tư</span>
                <span class="text-number text-white" style="background: #0e54e3!important">{{countcdt}}</span>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- <div class="box-body2">
                <span class="text-box"><i class="fa fa-users"></i> Nhóm người dùng</span><br>
                <span>23</span>
            </div> -->
            <div class="d-flex Banner-wrapper" style="background: #e3a60b !important; cursor: pointer;" (click)="DirectDA()">
                <span class="text-position text-white"><i class="fa fa-users"></i> Tiểu dự án</span>
                <span class="text-number text-white" style="background: #c29219 !important">{{counttda}}</span>
            </div>
        </div>
        <div class="col-lg-2">
            <!-- <div class="box-body3">
                <span class="text-box"><i class="fa fa-user"></i>Tài khoản</span><br>
                <span>23</span>
            </div> -->
            <div class="d-flex Banner-wrapper" style="background: #f65610 !important; cursor: pointer;" (click)="DirectTK()">
                <span class="text-position text-white"><i class="fa fa-user"></i>Tài khoản</span>
                <span class="text-number text-white" style="background: #df571b!important">{{countuser}}</span>
            </div>
        </div>
    </div>
    <!-- <div class=" d-flex Banner-wrapper">
        <span class="text-position">ToDay<br>Sale</span>
        <span class="text-number" style="background: #6366c2">45</span>
    </div> -->
</div>
<div class="body-chart">
    <div class="row">
        <div class="col-lg-6">
            <span>Biểu đồ thể hiện tỷ lệ phần trăm số dự án <b>Đã hoàn thành</b> và <b>Chưa hoàn thành</b></span>
        </div>
        <div class="col-lg-6">
            <span>Biểu đồ thể hiện mức vốn đầu tư trung bình của các dự án theo quý từng năm</span>
        </div>
    </div>
    <div class="row chart-item">
        <div class="col-lg-6">
            <div class="chart1" style="padding-bottom: 60px; box-shadow: 7px 8px 17px 3px #d1d1d1;background-color: white;">
                <div id="chart1"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="chart2" style="box-shadow: 7px 8px 17px 3px #d1d1d1;background-color: white;">
                <div id="chartTuongTac"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">

</div>