<div class="header-tongquan">
    <span style="font-size: 17px;color: #25549d;font-weight: 600;">Tổng quan</span><br>
    <span style="color:#acacac; font-size: 14px;">Trang chủ > <a>Quản lý người dùng</a></span>
    <div class="row optionselect">
        <div class="col-lg-5">
            <input class="search-text" name="keysearch" type="text" placeholder="Nhập tên người đùng.."
                [(ngModel)]="SearchTen" (ngModelChange)="TextSearchTen()" style="width: calc(100% - 10px)">
        </div>
        <div class="col-lg-5">
            <!-- <ng-select [items]="listtypeCDT" [(ngModel)]="TypeCDT" (ngModelChange)="SelectTypeCDT()" bindLabel="Value"
                bindValue="Id" style="width: calc(100% - 30px)" placeholder="Nhóm người dùng">
            </ng-select> -->
            <button class="btn" style="background-color: #289b28;width: 100px;color: white;height: 38px;"
            (click)="open(content)">Thêm mới
        </button>
        </div>
        <!-- <div class="col-lg-2">
            <button class="btn" style="background-color: #289b28;width: 100px;color: white;height: 38px;"
                (click)="Themmoi()">Thêm mới
            </button>
        </div> -->
    </div>
    <!-- <div class="row" style="padding-top: 20px;">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-2">
            <button class="btn" style="background-color: #289b28;width: 100px;color: white;height: 38px;"
                (click)="open(content)">Thêm mới
            </button>
        </div>
    </div> -->
</div>
<div class="body-tongquan">
    <div class="table-price">
        <table>
            <thead>
                <tr class="header_table">
                    <td style="padding-left: 20px;">STT</td>
                    <td style="padding-left: 20px;">Tên người dùng</td>
                    <!-- <td style="padding-left: 20px;">Số điện thoại</td> -->
                    <td style="padding-left: 20px;">Phân quyền</td>
                    <td style="padding-left: 20px;">Email</td>
                    <td style="padding-left: 20px;">Reset password</td>
                    <td style="padding-left: 20px;">Sửa</td>
                    <td style="padding-left: 20px;">Xóa</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listuser | paginate: { itemsPerPage: 6, currentPage: p }; index as i">
                    <td style="padding-left: 20px;">{{i + 1}}
                    </td>
                    <td style="padding-left: 20px;color: #25549d;">
                        <div (click)="Redirect(item)" style="cursor: pointer;">{{item.Username}}</div>
                    </td>
                    <!-- <td style="padding-left: 20px;">{{item.Diachi}}</td> -->
                    <td style="padding-left: 20px;">{{item.RoleName}}</td>
                    <td style="padding-left: 20px;">{{item.Mail}}</td>
                    <td style="padding-left: 20px;">
                        <div (click)="open(reset);chonnguoixoa(item)" style="cursor: pointer;"><i class="fa fa-unlock-alt"></i>
                        </div>
                    </td>
                    <td style="padding-left: 20px;">
                        <div (click)="open(content1); Sua(item)" style="cursor: pointer;"><i class="fa fa-edit" style="color: green;"></i>
                        </div>
                    </td>
                    <td style="padding-left: 20px;">
                        <div (click)="open(xoa); chonnguoixoa(item)">
                            <span style="cursor: pointer;"><i class="fa fa-trash" style="color: red;"></i></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="overlay" *ngIf="!check" id="overlay" style="text-align: center;">
            <i class="fa fa-spinner fa-spin spin-big" style="font: 20px;"></i>
            <span style="color: black; font-size: 30px">Loading</span>
        </div>
        <div class="pagination">
            <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </div><br>

    </div>
</div>
<!-- <div *ngIf="!Checkrole() === true">Hello</div> -->
<div class="footer"></div>


<ng-template #content>
    <div class="header-popup">
        <div>
            <span style="font-weight: 500;"> Thêm mới tài khoản</span>
        </div>
        <div>
            <span (click)="close()" style="cursor: pointer;font-size: 19px;"><i class="fa fa-times"></i></span>
        </div>
    </div>
    <div class="body-popup">
        <!-- <form   name="form" #form="ngForm" (ngSubmit)="onSubmitForm(form)"> -->
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-4" style="font-weight: 500;">
                    Firstname
                </div>
                <div class="col-lg-8">
                    <input class="search-text" name="keysearch" type="text" [(ngModel)]="ThemFName"
                        (ngModelChange)="TextThemFName()" style="width: calc(100% - 40px)">
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-4" style="font-weight: 500;">
                    Lastname
                </div>
                <div class="col-lg-8">
                    <input class="search-text" name="keysearch" type="text" [(ngModel)]="ThemLName"
                        (ngModelChange)="TextThemLName()" style="width: calc(100% - 40px)">
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-4" style="font-weight: 500;">
                    Tên tài khoản
                </div>
                <div class="col-lg-8">
                    <input class="search-text" name="keysearch" type="text" [(ngModel)]="ThemTK" #tentk="ngModel"
                        (ngModelChange)="TextThemTK()" style="width: calc(100% - 40px)" required><span style="color: red;">*</span><br>
                        <small class="text text-danger" *ngIf="tentk.invalid && (tentk.dirty || tentk.touched)">Tên chủ đầu tư bắt buộc phải có!</small>
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-4" style="font-weight: 500;">
                    Quyền hạn
                </div>
                <div class="col-lg-8">
                    <ng-select [items]="listquyen" [(ngModel)]="ThemQuyen" (ngModelChange)="SelectThemQuyen()"
                        bindLabel="Value" bindValue="Id" style="width: calc(100% - 40px)">
                    </ng-select><span style="color: red;">*</span>
                    <small class="text text-danger" *ngIf="!ThemQuyen">Tên chủ đầu tư bắt buộc phải có!</small>
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-4" style="font-weight: 500;">
                    Chủ đầu tư
                </div>
                <div class="col-lg-8">
                    <ng-select [items]="listInvest" [(ngModel)]="ThemCDT" (ngModelChange)="SelectThemCDT()"
                        bindLabel="Tenchudautu" bindValue="Id" style="width: calc(100% - 40px)">
                    </ng-select>
                </div>
            </div>

            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-4" style="font-weight: 500;">
                    Email
                </div>
                <div class="col-lg-8">
                    <input class="search-text" name="keysearch" type="text" [(ngModel)]="ThemEmail" #email="ngModel"
                        email (ngModelChange)="TextThemEmail()" style="width: calc(100% - 40px)"><br>
                    <small class="text text-danger" *ngIf="email.invalid ">Email không hợp lệ!</small>
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-4" style="font-weight: 500;">
                    Mật khẩu
                </div>
                <div class="col-lg-8">
                    <input class="search-text" name="keysearch" type="password" [(ngModel)]="ThemMK" #matkhau="ngModel"
                        (ngModelChange)="TextThemMK()" style="width: calc(100% - 40px)"
                        pattern="[a-zA-Z0-9!@#\$%\^\&*\)\(+=._-]{8,20}" required><span style="color: red;">*</span><br>
                    <small class="text text-danger" *ngIf="matkhau.invalid && ( matkhau.dirty || matkhau.touched )">Mật
                        khẩu
                        nhập không hợp lệ!</small>
                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-4" style="font-weight: 500;">
                    Xác nhận Mật khẩu
                </div>
                <div class="col-lg-8">
                    <input class="search-text" name="keysearch" type="password" [(ngModel)]="ConMK"
                        #matkhaunhaplai="ngModel" (ngModelChange)="TextConMK()" style="width: calc(100% - 40px)"
                        pattern="[a-zA-Z0-9!@#\$%\^\&*\)\(+=._-]{8,20}" required><br>
                    <!-- <small class="text text-danger"
                    *ngIf="matkhaunhaplai.invalid && ( matkhaunhaplai.dirty || matkhaunhaplai.touched )">Mật khẩu nhập
                    không hợp lệ!</small> -->
                    <div *ngIf="!Check() === false">
                        <small class="text text-danger">Mật khẩu nhập chưa khớp!</small>
                    </div>

                </div>
            </div>
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-5">

                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn" style="background-color: red;color: white;width: 90px;"
                                (click)="close()">Hủy</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn" style="background-color: green;color: white;width: 90px;" [disabled]="tentk.invalid" [disabled]="email.invalid" [disabled]="matkhau.invalid"
                                (click)="Them()">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </form> -->
    </div>
</ng-template>


<ng-template #content1>
    <div class="header-popup">
        <div>
            <span style="font-weight: 500;">Sửa mới tài khoản</span>
        </div>
        <div>
            <span (click)="close()" style="cursor: pointer;font-size: 19px;"><i class="fa fa-times"></i></span>
        </div>
    </div>
    <div class="body-popup">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-4" style="font-weight: 500;">
                Firstname
            </div>
            <div class="col-lg-8">
                <input class="search-text" name="keysearch" type="text" [(ngModel)]="SuaFName"
                    (ngModelChange)="TextSuaFName()" style="width: calc(100% - 40px)">
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-4" style="font-weight: 500;">
                Lastname
            </div>
            <div class="col-lg-8">
                <input class="search-text" name="keysearch" type="text" [(ngModel)]="SuaLName"
                    (ngModelChange)="TextSuaLName()" style="width: calc(100% - 40px)">
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-4" style="font-weight: 500;">
                Tên tài khoản
            </div>
            <div class="col-lg-8">
                <input class="search-text" name="keysearch" type="text" [(ngModel)]="SuaTK" disabled
                    (ngModelChange)="TextSuaTK()" style="width: calc(100% - 40px)">
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-4" style="font-weight: 500;">
                Quyền hạn
            </div>
            <div class="col-lg-8">
                <ng-select [items]="listquyen" [(ngModel)]="SuaQuyen" (ngModelChange)="SelectSuaQuyen()"
                    bindLabel="Value" bindValue="Id" style="width: calc(100% - 40px)">
                </ng-select>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-4" style="font-weight: 500;">
                Chủ đầu tư
            </div>
            <div class="col-lg-8">
                <ng-select [items]="listInvest" [(ngModel)]="SuaCDT" (ngModelChange)="SelectSuaCDT()"
                    bindLabel="Tenchudautu" bindValue="Id" style="width: calc(100% - 40px)">
                </ng-select>
            </div>
        </div>

        <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-4" style="font-weight: 500;">
                Email
            </div>
            <div class="col-lg-8">
                <input class="search-text" name="keysearch" type="text" [(ngModel)]="SuaEmail" #email="ngModel" email
                    (ngModelChange)="TextSuaEmail()" style="width: calc(100% - 40px)"><br>
                <small class="text text-danger" *ngIf="email.invalid ">Email không hợp lệ!</small>
            </div>
        </div>
        <!-- <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-4" style="font-weight: 500;">
                Mật khẩu
            </div>
            <div class="col-lg-8">
                <input class="search-text" name="keysearch" type="text" [(ngModel)]="SuaMK"
                    (ngModelChange)="TextSuaMK()" style="width: calc(100% - 40px)">
            </div>
        </div> -->
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-5">

            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn" style="background-color: red;color: white;width: 90px;"
                            (click)="close()">Hủy</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn" style="background-color: green;color: white;width: 90px;" [disabled]="email.invalid"
                            (click)="Edit()">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>


<ng-template #xoa>
    <div class="header-popup">
        <div>
            <span style="font-weight: 500;">Xóa người dùng</span>
        </div>
        <div>
            <span (click)="close()" style="cursor: pointer;font-size: 19px;"><i class="fa fa-times"></i></span>
        </div>
    </div>
    <div class="body-popup">
        <div class="row">
            <div class="col-lg-8">
                <span>Bạn có muốn xóa người dùng này ?</span>
            </div>
            <div class="col-lg-3">
                <button class="btn" style="background-color: #25549d;color: white;width: 90px;"
                    (click)="Delete()">Xóa</button>
            </div>
        </div>
    </div>
</ng-template>



<ng-template #reset>
    <div class="header-popup">
        <div>
            <span style="font-weight: 500;">Khôi phục người dùng</span>
        </div>
        <div>
            <span (click)="close()" style="cursor: pointer;font-size: 19px;"><i class="fa fa-times"></i></span>
        </div>
    </div>
    <div class="body-popup">
        <div class="row">
            <div class="col-lg-8">
                <span>Bạn có muốn khôi phục mật khẩu của người dùng này ?</span>
            </div>
            <div class="col-lg-3">
                <button class="btn" style="background-color: #25549d;color: white;width: 90px;"
                    (click)="ResetPass()">Reset</button>
            </div>
        </div>
    </div>
</ng-template>